<div id="edit">

<div class="container py-4" "row g-0 align-items-center" "col-lg-6 mb-5 mb-lg-0" "card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            " "card-body p-5 shadow-5 text-center">
  <form action="/recipe/{{dateRecipe._id}}/edit" method="POST">

    <label class="form-label" for="recipename">Nombre:</label>
    <input class="form-control" 
      type="text"
      name="recipename"
      required="true"
      value="{{dateRecipe.recipename}}"
    />

    <br />
    <label for="ingredients"> Ingredientes:</label>
    <input class="form-control" 
      type="text"
      name="ingredients"
      required="true"
      value="{{dateRecipe.ingredients}}"
    />
    <br />
    <label for="preparation">Preparación:</label>
    <input class="form-control "  rows="15"
      type="text"
      name="preparation"
      required="true"
      value="{{dateRecipe.preparation}}"
    ></input>
    <br />

    <button class="btn btn-primary btn-block mb-4" >Editar</button>
  </form>
  <br />

  <form
    action="/recipe/{{dateRecipe._id}}/upload"
    method="POST"
    enctype="multipart/form-data"
  >
    <label for="image">Selecciona la Imagen:</label>
    <input class="form-control"  type="file" name="image" />
    <button class="btn btn-primary btn-block mb-4" type="submit">Enviar imagen</button>
  </form>

</div>
</div>