<div>
  <form action="/recipe/{{dateRecipe._id}}/edit" method="POST">

    <label for="recipename">Nombre:</label>
    <input
      type="text"
      name="recipename"
      required="true"
      value="{{dateRecipe.recipename}}"
    />

    <br />
    <label for="ingredients"> Ingredientes:</label>
    <input
      type="text"
      name="ingredients"
      required="true"
      value="{{dateRecipe.ingredients}}"
    />
    <br />
    <label for="preparation">Preparacion:</label>
    <input
      type="text"
      name="preparation"
      required="true"
      value="{{dateRecipe.preparation}}"
    />
    <br />

    <button>Editar</button>
  </form>
  <br />

  <h3>Agregar o Cambiar imagen</h3>

  <form
    action="/recipe/{{dateRecipe._id}}/upload"
    method="POST"
    enctype="multipart/form-data"
  >
    <label for="image">Selecciona la Imagen:</label>
    <input type="file" name="image" />
    <button type="submit">Enviar imagen</button>
  </form>

</div>