<h2>Detalles de las recetas</h2>

<div>
  <p>Nombre: {{detailsId.recipename}}</p>
  <p>Ingredientes: {{detailsId.ingredients}}</p>
  <p>Preparacion: {{detailsId.preparation}}</p>
  <p>Creador: {{detailsId.owner.username}}</p>

  <img src="{{detailsId.image}}" alt="" width="200px" />
  <br />

  {{#if isOwner}}
    <a href="/recipe/{{detailsId._id}}/edit"><button>Editar</button></a>

    <form action="/recipe/{{detailsId._id}}/delete" method="POST">
      <button type="submit"> eliminar</button>
    </form>
  

</div>

<br />

<div>
  <form action="/comment/{{detailsId._id}}/create" method="POST">

    <label for="message">Comentario:</label>
    <textarea name="message" id="" cols="30" rows="10"></textarea>
    <br />
    <button type="submit">Enviar Comentario</button>

  </form>

</div>
{{/if}}
<div>

  {{#each comment}}
    <li>
      <p>{{this.user.username}}</p>
      <p>{{this.message}}</p>
    </li>
  {{/each}}

</div>