<h2>Detalles de las recetas</h2>

<div>
    <p>Nombre: {{detailsRecipe.recipename}}</p>
    <p>Ingredientes: {{detailsRecipe.ingredients}}</p>
    <p>Preparacion: {{detailsRecipe.preparation}}</p>
    <p>Creador: {{detailsRecipe.owner.username}}</p>
  
    <img src="{{detailsRecipe.image}}" alt=""  width="200px">
    <br>

   {{#if isOwner}}
   <a href="/recipe/{{detailsRecipe._id}}/edit"><button>Editar</button></a>

   <form action="/recipe/{{detailsRecipe._id}}/delete" method="POST">
    <button type="submit"> eliminar</button>
   </form>
   {{/if}}
   
    
</div>